.blanc{
    background-color: rgb(26, 26, 145);
    color: white;
    height: 1500px;
    width: 30%;
    float: left;
}

.col2{
    height: auto;
    width: 68%;
    float: right;
}

.gris{
    color: grey;
}
    h1 {
        text-align: center;
    }
   
    .ligne {
        text-align: center;
    }
   
    .espace {
        margin: 30px;
    }
   
    .espaceimg {
        background-image: 0px 300px 300px 300px
    }
    .bleuc{
        color: rgb(39, 15, 179);
    }