.blanc {
    background-color: rgb(26, 26, 145);
    color: white;
    height: 1500px;
    width: 30%;
    float: left;
}

.col2 {
    height: auto;
    width: 68%;
    float: right;
}

.gris {
    color: grey;
}

h1 {
    text-align: center;
}

.ligne {
    text-align: center;
}

.espace {
    margin: 30px;
}

.espaceimg {
    text-align: center;
}

.bleuc {
    color: rgb(39, 15, 179);
}

@media screen and (max-width: 640px) {
    .blanc {
        float: none;
        width: 100%;
    }
    .col2 {
        float: none;
        width: 100%;
    }
}